[
  {
    "id": "deploy",
    "execute-command": "/srv/litang-blog/scripts/server/deploy.sh",
    "command-working-directory": "/srv/litang-blog",
    "response-message": "deploying",
    "trigger-rule": {
      "and": [
        {
          "match": {
            "type": "value",
            "value": "refs/heads/main",
            "parameter": {
              "source": "payload",
              "name": "ref"
            }
          }
        }
      ]
    }
  }
]
